*.iml
.gradle
local.properties
/bindinglibplugin/.idea/caches/
/bindinglibplugin/gradle/wrapper/gradle-wrapper.jar
/bindinglibplugin/.idea/libraries/
/.idea/
/.idea/caches/
/.idea/libraries/
/build/
/bindinglibplugin/.idea/
/recyclerviewbindinglib/.idea/workspace.xml
